<div class="single-table">
    <div class="row">
        <div class="panel panel-flat">


            <div class="panel-body gallery">
                @if($images->isNotEmpty())
                @foreach($images as $image)
                <div class="col-sm-6 col-lg-4" id="imageItem-{{ $image->id }}">
                    <div class="card">
                        <div class="card-img-actions m-1">
                            <img class="card-img img-fluid" src="{{ asset('storage/'.$image->image) }}" alt=""
                                 style="width: 300px; height:150px;">
                            <div class="card-img-actions-overlay card-img">
                                <a href="{{ asset('storage/'.$image->image) }}"
                                   class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round"
                                   data-popup="lightbox" rel="group">
                                    <i class="fa fa-eye"></i>
                                </a>

                                <a href="javascript:void(0)" data-type="{{ $image->id  }}" data-gallery = "{{ $gallery->id }}"
                                   class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2 delete-galleries-image">
                                    <i class="fa fa-trash"></i>

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                @endforeach
                @else
                <div class="row">
                    <div class="col-sm-6 col-lg-12">
                        <div class="card">
                            Sorry, no image has been uploaded yet.
                        </div>
                    </div>

                </div>
                @endif
            </div>

        </div>

    </div>
</div>
